#container {
  position: absolute;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(../../media/images/background.jpg) no-repeat;
  height: 748px;
  background-size: cover;
}
.logo {
  margin-left: 918px;
  width: 83px;
  margin-top: 15px;
  margin-right: 30px;
}
