.choice {
  width: 342px;
  /* overflow: hidden; */
  /* margin: 30px 0; */
  background-size: 354px 64px;
  display: block;
  height: 64px;
  /* padding-left: 55px; */
  padding-top: 6px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'StaticBold', 'HelveticaLight', sans-serif;
  position: relative;

  &-bar-1 {
    background-image: url(../../media/images/option-list-bg-1.png);
    padding-left: 50px;
    padding-top: 5px;
  }
  &-bar-2 {
    background-image: url(../../media/images/option-list-bg-2.png);
    padding-left: 50px;
    padding-top: 5px;
  }
  &-bar-3 {
    background-image: url(../../media/images/option-list-bg-3.png);
    padding-left: 50px;
    padding-top: 5px;
  }

  &--footnote {
  }
}
